{{#each posts as |post|}}
  <div class="row mb-2 dash-row btn-secondary">
    <div class="col-6 color2"><a class="color2" href="/edit/{{post.id}}">{{post.title}}</a></div>
    <p class="col-6 timestamp color2">{{format_date post.date_created}}</p>
  </div>
{{/each}}


<div class="newpost">
  <a class="newpost-btn" href="/newpost"> + New Post</a>
</div>

