
<div class="card my-card">
  <div class="card-header row">
      <div class="title">Create New Post</div>
  </div>
    <div class="content">    
      <form class="form new-post-form">
        <div class="form-group">
          <div for="post-title">Title</div>
          <input type="text" class="form-control" id="post-title" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
          <div for="post-content">Content</div>
          <input type="text" class="form-control" id="post-content" placeholder="Content" aria-label="Content" aria-describedby="basic-addon1">
        </div>
        <div class="form-group d-grid gap-2">
          <button class="btn btn-secondary login-signup-btn" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="./js/newpost.js"></script>